@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/*@import "reset.css";*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  background: url('../images/background.png');
  font-family: 'PT Sans', sans-serif;
  font-size: 14pt;
}

*
{
  box-sizing: border-box;
}

div.CodeMirror *, div.CodeMirror-gutters *
{
  padding: 0px;
}

h1
{
  font-size: 32pt;
}

h2
{
  font-size: 16pt;
  font-weight: bold;
  padding: 10px;
}

div
{
  border: none;
  margin: 0px;
  padding: 0px;
  background: url("../images/concrete.png");
  margin-top: 5px;
}

label
{
  margin-top: 5px;
}

div.col-centered
{
  position: absolute;
  width: 50%;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  left: 25%;
}

div.side-bar
{
  width: 400px;
  height: 100%;
  overflow: auto;
  margin: 0px;
  border: none;
  float: left;
}

div.file
{
  padding: 0px 10px;
}

span.file:hover
{
  color: #006F37;
  cursor: pointer;
}

div.panel-heading
{
  background: #F4511E;
  padding: 10px 10px;
  margin: 0px;
  color: #006F37;
}

div.panel-body
{
  padding: 10px 10px;
}

input
{
  border: 3px solid black;
  background: transparent;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

button
{
  border: none;
  background: transparent;
  font-size: 14pt;
}

button:hover
{
  color: #35B473;
}

div.text-right
{
  text-align: right;
}

div.main
{
  float: left;
  width: 50%;
  height: 80%;
}


div#codediv
{
  width: 100%;
  height: 600px;
  z-index: 0;
}

div.main, div.main *
{
  padding: 0px;
  margin: 0px;
}

div#notice
{
  position: absolute;
  background: #99e699 !important;
  top: 0;
  right: 0;
  width: 400px;
  padding: 10px;
  font-size: 10pt;
  color: #777;
  display: none;
  z-index: 999;
}

div#alert
{
  position: absolute;
  background: #FF8686 !important;
  top: 0;
  right: 0;
  width: 400px;
  padding: 10px;
  font-size: 10pt;
  color: #777;
  display: none;
  z-index: 999;
}

div#dir-contextmenu
{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background: white;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
  display: none;
}

div#dir-contextmenu ul
{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}


div#dir-contextmenu li
{
  border-bottom: 1px solid #eee;
  padding: 5px;
}

div#dir-contextmenu li:hover
{
  background: #A2E9C5;
  cursor: pointer;
}
